---
layout: default
---
<header class="intro-header"
	style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
				<div class="site-heading">
					<h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
					<hr class="small">
					<span class="subheading" style="font-size:20pt;weight:600">New York University</span>
				</div>
			</div>
		</div>
	</div>
</header>

<div class=page-body>
	<span class="js-widget-page d-none"></span>
	<section id=welcome class="home-section wg-hero">
		<div class=home-section-bg></div>
		<div class=container>
		</div>
	</section>
</div>